@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    --colormax: #251B37;
    --colormed: #372948;
    --color3min: #FFCACA;
}
html {
    font-size: 14px;
    font-family: 'Noto Sans Symbols', sans-serif;
}
body {
    background-color: var(--colormax);
    display: block;
    margin: auto;
}
h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color: var(--color3min);
}
#inputText {
    width: 40rem;
    height: 6rem;
    display:block;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem auto 1rem auto;
    border: 0.2rem solid var(--color3min);
    font-size: 2rem;
}
#btn{
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 2rem;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    background-color: var(--colormax);
    color: var(--color3min);
    border: 1px solid var(--color3min);
}
#btn:active {
    background-color: var(--color3min);
    color: var(--colormax);
}
p {
    font-size: 5rem;
    color: var(--color3min);
    display: flex;
    justify-content: center;
}
#output {
    display: block;
    width: 40rem;
    height: 6rem;
    margin: auto;
    margin-top: 2rem;
    background-color: white;
    border: 0.2rem solid var(--color3min);
    text-align: center;
    font-size: 2rem;
    word-spacing: .1rem; 
    color: black;
    padding-top: 1rem;
    font-weight: 400;   
}
@media only screen and (max-width: 600px) {
    html {
      font-size: 8px;
    }
}



